* {
 margin:20px;
 padding:0;
 box-sizing: border-box;
}


input, label {
   display: block; 
}

form {
    border:1px solid black;
    border-radius: 10px;
}

.message {
    margin:auto;
    text-align: center;
}

.error {
    color:red;
}

.helper-text {
    color:gray;

}