*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
     background-color: black;
     position:relative;
     color: white;
}

main {
    width:100%;
    height:100vh;
}

body main {
  display: grid;
  align-items: center;
  justify-content: center;
}